.container{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	color: #000;
}

.card{
	width: 40%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 4px 0px #ccc;
}


.warning{
	margin: 1rem 0rem;
}

.header{
	font-size: 2rem;
	font-weight: bold;
	color: #000000;
}

.form_wrapper{
	position: relative;
	
}
.input_wrapper{
	position: relative;
	height: 50px;
	overflow: hidden;
}
.label{
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
	color: #000000;
}

.label::after{
	content: "";
	position: absolute;
	left: 0%;
	bottom: -1px;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #000000;
	transform: translateX(-100%);
	transition: all 0.3s ease;
}
.label_text{
	position: absolute;
	font-size: 1.5rem;
	bottom: 5px;
	left: 0px;
	color: #000;
	transition: all 0.3s ease;
}
.input{
	width: 100%;
	height: 100%;
	border: none;
	font-size: 1.5rem;
	background: transparent;
	padding-top: 20px;
	outline: none;
	color: #000;
	border-bottom: 1px solid #ccc;
}

.input:focus + .label .label_text, .input:valid + .label .label_text{
	transform: translateY(-150%);
	font-size: 1rem;
}
.input:focus + .label::after{
	transform: translateX(0);
}

.btn_wrapper{
	margin: 1rem 0rem;
}
.btn{
	border: none;
	padding: 0.5rem 1rem;
	background: #fff;
	border: 1px solid #000;
	color: #000;;
	font-size: 1.3rem;
	font-weight: bold;
}

.btn_forget{
	border: 1px solid #000;
	font-size: 1.4rem;
	padding: 0.5rem 1rem;
	font-weight: bolder;
	background: none;
	cursor: pointer;
}